# mongodb
MONGODB_URI="mongodb+srv://<mongodb-user>:<mongodb-password>@<mongodb-host>:<mongodb-port>/<mongodb-database>"
MONGODB_DATABASE="mongodb-database"
MONGODB_TIMEOUT_MS=2000

# ethereum
ETH_RPC_URL=http://localhost:8545
ETH_CHAIN_ID=11155111
ETH_START_BLOCK_NUMBER=0
ETH_CONFIRMATIONS=0
ETH_RPC_TIMEOUT_MS=2000
ETH_WRAPPED_POCKET_ADDRESS=0xf3cb3c50bc095d7fa15ec5515f849b96cca1ab81
ETH_MINT_CONTROLLER_ADDRESS=0x8ec8384b9cd40f596a609180c9452384d523cf4d
ETH_VALIDATOR_ADDRESSES=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266,0xE525149C25cc6bF8D743fdc36aAf8BC2EaedFB11,0xDf79D52a5Cf1aeFf5bC311bAB682283Ee476aA80
ETH_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# pocket
POKT_RPC_URL=https://<pocket-node-host>:<pocket-node-port>
POKT_GRPC_ENABLED=false
POKT_GRPC_HOST=0.0.0.0
POKT_GRPC_PORT=9090
POKT_CHAIN_ID=testnet
POKT_START_HEIGHT=0
POKT_CONFIRMATIONS=0
POKT_RPC_TIMEOUT_MS=2000
POKT_TX_FEE=10000
POKT_MNEMONIC="test test test test test test test test test test test junk"
POKT_GCP_KMS_KEY_NAME=
POKT_COIN_DENOM=upokt
POKT_BECH32_PREFIX=pokt
POKT_MULTISIG_ADDRESS=pokt10r5n6x28p9qntchsmhxd4ftq9lk6vzcx3dv4gx
POKT_MULTISIG_PUBLIC_KEYS=0223aa679d6d5344e201e0df9f02ab15a84726eee0dfb4e953c46a9e2cb52349dc,02faaaf0f385bb17381f36dcd86ab2486e8ff8d93440436496665ac007953076c2,02cae233806460db75a941a269490ca5165a620b43241edb8bc72e169f4143a6df
POKT_MULTISIG_THRESHOLD=2
POKT_MINT_DISABLED=false

# docker-compose
COMPOSE_PROJECT_NAME=wpokt-validator

# google secret manager
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json # path to google service account credentials
GOOGLE_SECRET_MANAGER_ENABLED=false
GOOGLE_MONGO_SECRET_NAME=projects/<project-id>/secrets/<secret-name>/versions/latest
GOOGLE_POKT_SECRET_NAME=projects/<project-id>/secrets/<secret-name>/versions/latest
GOOGLE_ETH_SECRET_NAME=projects/<project-id>/secrets/<secret-name>/versions/latest

# mint monitor
MINT_MONITOR_ENABLED=false
MINT_MONITOR_INTERVAL_MS=5000

# mint signer
MINT_SIGNER_ENABLED=false
MINT_SIGNER_INTERVAL_MS=5000

# mint executor
MINT_EXECUTOR_ENABLED=false
MINT_EXECUTOR_INTERVAL_MS=5000

# burn monitor
BURN_MONITOR_ENABLED=false
BURN_MONITOR_INTERVAL_MS=5000

# burn signer
BURN_SIGNER_ENABLED=false
BURN_SIGNER_INTERVAL_MS=5000

# burn executor
BURN_EXECUTOR_ENABLED=false
BURN_EXECUTOR_INTERVAL_MS=5000

# health check
HEALTH_CHECK_INTERVAL_MS=5000
HEACK_CHECK_READ_LAST_HEALTH=false

# logging
LOG_LEVEL=info
